.wrapperAbout{
  min-height: 95vh;
  position:relative;
  border-bottom: var(--border-px) solid var(--heading-color);
  border-inline: var(--border-px) solid var(--heading-color);
  padding-top: 1rem;
  overflow: hidden;
  display: grid;
  background-color: var(--body-color);
}

.containerAbout{
  width: 80%;
  max-width: 1700px;
  margin: 3rem auto;
  height: 100%;
  display: grid;
  align-items: center;
}

.heading{
  font-size: clamp(1rem, 7vw, 7rem);
  text-align: right;
  padding-inline: 2rem;
  width: fit-content;
  margin-left: auto;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  margin-bottom: 2rem;
}

.textAbout{
  max-width: 700px;
  margin-right: auto;
  font-size: clamp(1rem, 3vw, 1.5rem);
  line-height: 2;
  opacity: 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
}

.skills{
  border-top: var(--border-px) solid var(--heading-color);
  position: relative;
  overflow: hidden;
  background-color: var(--heading-color);
  display: grid;
  place-items: center;
}

.skills h2{
  padding-bottom: 2rem;
}

.listSkills{
  position: relative;
  padding-block: 2rem;
  display: flex;
}

.iconCard{
  padding: 1rem;
  text-align: center;
  transition: transform 200ms ease-in-out;
}

.iconCard:hover{
  transform: scale(1.5) ;
}

.asterisk {
  display: inline-block;
  width: 4vw;
  line-height: 0;
  animation: animate-rotate 10s infinite linear;
}

.asterisk img{
  display: inline;
}


