.wrapperAbout{
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  scroll-behavior: auto;
}

.containerAbout{
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.heading{
  width: 100%;
  border-bottom: 2px solid var(--heading-color);
  padding-block: 1rem;
  font-size: 1.5rem;
  opacity: 0;
  transform: translateX(-100px);
}

.textAbout{
  font-size: clamp(1rem, 3vw, 1.5rem);
  margin: 3rem;
  line-height: 2;
  opacity: 0;
  transform: translateY(100px);
}

.skills{
  position: relative;
  margin-top: 2rem;
}

.skills h2{
  padding-bottom: 2rem;
}

.listSkills{
  position: relative;
  display: flex;
  line-height: 0.5;
}

.iconsSkills{
  padding: 1rem;
  border-radius: 50%;
  display: block;
  font-size: 7rem;
  margin-block: 2rem;
  margin-inline: 3rem;
  color: #696870;
  transition: transform 400ms ease-in-out,
   color 400ms ease-in-out
  ;
}

.iconsSkills:hover{
  transform: scale(1.4);
  color: #98C1B9;
}

.iconCard{
  position: relative;
}

.iconsTag{
  position: absolute;
  top: 0;
  right: 50%;
  opacity: 0;
}

.iconsTag.show{
  opacity: 1;
}