.wrapperBlog{
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: var(--border-px) solid var(--heading-color);
  border-inline: var(--border-px) solid var(--heading-color);
  /* background-color: transparent; */
  background-color: var(--body-color);
  position: relative;
}

.heading{
  font-size: clamp(1rem, 7vw, 7rem);
  width: fit-content;
  opacity: 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  margin-left: auto;
  margin-top: 2rem;
  margin-right: 5rem;
}

.asterisk {
  line-height: 0;
  display: inline-block;
  width: 4vw;
  animation: animate-rotate 15s infinite linear;
}

.asterisk img{
  display: inline;
}

.containerTitle{
  position: sticky;
  top: 5vh;
  padding-top: 1rem;
  text-align: right;
  padding-right: 2rem;
  align-self: flex-start;
}
