.wrapperBlog{
  min-height: 80vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: var(--border-px) solid var(--heading-color);
  border-inline: var(--border-px) solid var(--heading-color);
  position: relative;
}

.heading{
  font-size: clamp(3rem, 7vw, 7rem);
  width: fit-content;
  margin: 2rem 5rem 3rem auto;
}

.textBlog > *{
  margin-bottom: 1rem;
  padding-inline: 1rem;
}

.containerTitle{
  position: sticky;
  top: 5vh;
  padding-top: 1rem;
  text-align: right;
  padding-right: 2rem;
  align-self: flex-start;
}

.decoration{
  height: 100px;
  border-bottom: var(--border-px) solid var(--heading-color);
  border-right: var(--border-px) solid var(--heading-color);
  background-color: transparent;
  opacity: 0.8;
  background-image:  radial-gradient(#8a8b94 0.8500000000000001px, transparent 0.8500000000000001px), radial-gradient(#8a8b94 0.8500000000000001px, transparent 0.8500000000000001px);
  background-size: 34px 34px;
  background-position: 0 0,17px 17px;
}

@media screen and (max-width: 1200px){
  .wrapperBlog{
    grid-template-columns: 2fr 1fr;
  }
  .heading{
    margin: 2rem;
    margin-left: auto;
  }
}

@media screen and (max-width: 500px){

  .heading{
    padding-left: 2rem;
  }

  .containerTitle{
    padding-right: 0;
  }
}