.containerForm{
  padding: 1rem;
  border: 1px solid var(--body-color);
  max-width: 500px;
  margin: 2rem auto 2rem;
  display: none;
}

.containerForm.visible{
  display: block;
}

.inputForm{
  display: block;
  width: 100%;
  margin-block: 0.5rem;
  padding: 0.3rem;
}

.containerBtns{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.containerBtns button{
  background-color: transparent;
  border: 1px solid var(--body-color);
  color: var(--body-color);
  font-size: 1.3rem;
  padding: 0.5rem;
  cursor: pointer;
}