/* @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&family=Work+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@600&display=swap');

:root{
  --heading-color: #232020;
  --body-color: white;
  --light-gray: #938f90;
  --light-peach: #f3e6e0;
  --link: #30309c;
  --pale-green: #dbf4e9;
  --pale-purple: #D9CCF4;
  --pale-blue: #DAF1FF;
  --pale-lime: #D0DC7A;
  /* --font-body: 'Work Sans', sans-serif; */
  --font-body: 'Open Sans', sans-serif;
  /* --font-heading: 'Space Grotesk', sans-serif; */
  --font-heading: 'Playfair Display', serif;
  --border-px: 1px;
  --bg-img: url("data:image/svg+xml;utf8,%3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1200 1200%22 version=%221.1%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cstyle%3E .box_shadow { box-shadow: -5px -5px 20px -10px %23fff; } .shadow_right { -webkit-filter: drop-shadow(-5px -5px 15px %23fff); filter: drop-shadow(-5px -5px 15px %23fff); } .shadow_left{ -webkit-filter: drop-shadow(5px 5px 15px %23fff); filter: drop-shadow(5px 5px 15px %23fff); } %3C%2Fstyle%3E %3Cdefs%3E %3ClinearGradient id=%22gradient__0%22 x1=%220%22 y1=%220%22 x2=%220%22 y2=%221%22%3E %3Cstop stop-color=%22%23fff%22 offset=%220.0%25%22 %2F%3E %3Cstop stop-color=%22white%22 offset=%2250.0%25%22 %2F%3E %3Cstop stop-color=%22%23fff%22 offset=%22100.0%25%22 %2F%3E %3C%2FlinearGradient%3E %3Cfilter id=%22grain%22 x=%22-600%22 y=%22-600%22 width=%222400%22 height=%222400%22 filterUnits=%22userSpaceOnUse%22%3E%3E %3CfeFlood flood-color=%22%23ffffff%22 result=%22neutral-gray%22 %2F%3E %3CfeTurbulence in=%22neutral-gray%22 type=%22fractalNoise%22 baseFrequency=%222.5%22 numOctaves=%22100%22 stitchTiles=%22stitch%22 result=%22noise%22 %2F%3E %3CfeColorMatrix in=%22noise%22 type=%22saturate%22 values=%220%22 result=%22destaturatedNoise%22 %3E%3C%2FfeColorMatrix%3E %3CfeComponentTransfer in=%22desaturatedNoise%22 result=%22theNoise%22%3E %3CfeFuncA type=%22table%22 tableValues=%220 0 0.48 0%22%3E%3C%2FfeFuncA%3E %3C%2FfeComponentTransfer%3E %3CfeBlend in=%22SourceGraphic%22 in2=%22theNoise%22 mode=%22soft-light%22 result=%22noisy-image%22 %2F%3E %3C%2Ffilter%3E} %3C%2Fdefs%3E %3Cg filter=%22url(%23grain)%22%3E %3Crect width=%221200%22 height=%221200%22 fill=%22%23fff%22%2F%3E %3Crect class=%22%22 id=%22rect__1%22 x=%22400%22 y=%22200%22 width=%22400%22 height=%22800%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_left%22 id=%22rect__2%22 x=%22800%22 y=%220%22 width=%22400%22 height=%221200%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_right%22 id=%22rect__0%22 x=%220%22 y=%220%22 width=%22400%22 height=%221200%22 fill=%22url(%23gradient__0)%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
      
      
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1::selection, 
h2::selection,
h3::selection,
p::selection {
  color:#f4f0ec;
  background: #97bcac;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--body-color);
  font-family: var(--font-body);
  overflow-x: hidden;
  cursor: none;
  position: relative;
  padding: 1rem;
  color: var(--heading-color);
}

h1, h2, h3{
  color: var(--heading-color);
  font-family: var(--font-heading);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
