
.wrapperHero{
  min-height: 90vh;
  display: grid;
  position: relative;
  z-index: 10;
  background-color: var(--body-color);
  border-bottom: 2px solid var(--heading-color);
  border-inline: 2px solid var(--heading-color);
}

.containerHero{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  gap: 2rem;
  padding: 1rem;
}

.containerImage{
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-height: 50%;
  overflow: hidden;
  z-index: -1;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
}

.containerTitle{
  position: relative;
  line-height: 1;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  font-size: clamp(1rem, 5vw, 5rem);
  align-self: flex-end;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.titleText{
  font-family: var(--font-body);
  font-weight: 400;
}

.subtitleHero{
  position: relative;
  opacity: 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  font-size: 3rem;
  padding-bottom: 2rem;
}

.asterisk {
  display: inline-block;
  width: 4vw;
  animation: animate-rotate 15s infinite linear;
}

.asterisk img{
  display: inline;
}

@keyframes animate-rotate {
  to{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(360deg);
  }
}