
.wrapperHero{
  min-height: 90vh;
  display: grid;
  position: relative;
  background-color: white;
  border-bottom: var(--border-px) solid var(--heading-color);
  border-inline: var(--border-px) solid var(--heading-color);
  background-color: var(--body-color);
}

.containerHero{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  gap: 2rem;
  padding: 1rem;
}

.containerImage{
  overflow: hidden;
  z-index: 2;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
}

.containerImage img{
  height: 100%;
  object-fit: cover;
  transform: scale(1.8);
  filter: contrast(116%) saturate(98%) hue-rotate(-2deg);
}

.containerTitle{
  line-height: 1;
  font-size: clamp(1rem, 5vw, 5rem);
  align-self: flex-end;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.subtitleHero{
  position: relative;
  opacity: 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  font-size: 3rem;
  padding-bottom: 2rem;
  transform: translateY(60px);
}

.title{
  opacity: 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transform: translateY(60px);
}


.asterisk {
  line-height: 0;
  width: 4vw;
  display: inline-block;
  animation: animate-rotate 15s infinite linear;
  filter: contrast(116%) saturate(28%) hue-rotate(-2deg);
}

.asterisk img{
  display: inline;
}

/* @keyframes animate-rotate {
  to{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(360deg);
  }
} */