
.iconsSkills{
  border-radius: 50%;
  display: block;
  font-size: 4rem;
  color: #c6bebe;
  transition: transform 00ms ease-in-out,
   color 400ms ease-in-out
  ;
}

.iconTag{
  display: block;
  color: #c6bebe;
  margin-top: 0.4rem;
}

@media screen and (max-width: 540px){
  .iconsSkills{
    font-size: 2rem;
  }
}