
.iconsSkills{
  /* margin-top: 0.4rem; */
  border-radius: 50%;
  display: block;
  font-size: clamp(1rem, 7vw, 7rem);
  color: #E1BCBC;
  transition: transform 00ms ease-in-out,
   color 400ms ease-in-out
  ;
}

.iconsTag{
  font-family: var(--font-heading);
  font-size: 0.8rem;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  display: inline-block;
  max-width: 100px;
  line-height: 1;
  color: #E1BCBC;
}

.iconsTag.show{
  opacity: 1;
}

.iconsSkills.show{
  color: #66a096;
}