
.iconsSkills{
  border-radius: 50%;
  display: block;
  font-size: 4rem;
  color: #c6bebe;
  
}

.iconsSkills svg{
  transition: transform 100ms ease-in-out,
   color 400ms ease-in-out
  ;
}

.iconsSkills svg:hover{
  transform: scale(1.4) rotate(-10deg);
}


.iconTag{
  display: block;
  color: #c6bebe;
  margin-top: 0.4rem;
}

@media screen and (max-width: 540px){
  .iconsSkills{
    font-size: 2rem;
  }
}