.navbar{
  display: flex;
  justify-content: space-between;
  border: var(--border-px) solid var(--heading-color);
  margin: 0 auto;
  padding: 1rem;
}

.logo{
  opacity: 0;
  transform: translateY(60px);
  font-family: var(--font-heading);
  font-size: 1.2rem;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
}

.listLinks{
  display: flex;
  gap: 2rem;
  opacity: 0;
  transform: translateY(60px);
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
}

.asterisk {
  display: inline-block;
  width: 1.7vw;
  animation: animate-rotate 30s infinite linear;
  line-height: 0;
}

.asterisk img{
  display: inline;
}

@keyframes animate-rotate {
  to{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(360deg);
  }
}