.navbar{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--heading-color);
  font-size: 1.2rem;
  margin: 0 auto;
  max-width: 1700px;
  padding: 1rem;
}

.linkNavbar{
  font-family: var(--font-heading);
}

.logo{
  opacity: 0;
  transform: translateY(60px);
}

.listLinks{
  display: flex;
  gap: 2rem;
  opacity: 0;
  transform: translateY(60px);
}

