.wrapperPortfolio{
  min-height: 100vh;
  border-bottom: var(--border-px) solid var(--heading-color);
  border-inline: var(--border-px) solid var(--heading-color);
  padding-block: 5vh;
  padding-inline: 2rem;
  overflow: hidden;
}

.heading{
  font-size: clamp(3rem, 7vw, 7rem);
  width: max-content;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.containerProjects{
  padding-inline: 2rem;
  min-height: 720px;
  position: relative;
  max-width: 1550px;
  margin: 5rem auto 0;
}

@media screen and (max-width: 735px){
  .wrapperPortfolio{
    padding-inline: 0.5rem;
  }

  .containerProjects{
    padding-inline: 0.5rem;
    margin-block: 0.5rem;
  }
}
