.wrapperPortfolio{
  min-height: 100vh;
  border-bottom: var(--border-px) solid var(--heading-color);
  border-inline: var(--border-px) solid var(--heading-color);
  display: grid;
  padding-block: 5vh;
  gap: 2rem;
  padding-inline: 2rem;
}

.heading{
  font-size: clamp(1rem, 7vw, 7rem);
  width: max-content;
  opacity: 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  padding-left: 2rem;
}

.containerProjects{
  padding-inline: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.asterisk {
  display: inline-block;
  width: 3vw;
  line-height: 0;
  animation: animate-rotate 10s infinite linear;
}

.asterisk img{
  display: inline;
}

@media screen and (max-width: 1230px){
  .containerProjects{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (max-width: 900px){
  .containerProjects{
    margin: 0 auto;
    display: grid;
    grid-template-columns: none;
  }
}