.projectWrapper{
  width: 900px;
  margin: 0 auto 4rem;
  position: absolute;
  transition: transform 200ms ease-in-out;
  display: flex;
  left: 0px;
}

.projectWrapper:first-child{
  transform: translateY(4%);
}

.projectWrapper:nth-child(2) {
  left: 12%;
  transform: translateY(3%);
}

.projectWrapper:nth-child(3) {
  left: 25.5%;
  transform: translateY(2%);
}

.projectWrapper:nth-child(4) {
  left: 38.5%;
  transform: translateY(1%);
}

.projectWrapper:hover{
  transform: translate(3%, -3%);
  transition: 300ms ease-in;
}

.projectWrapper:hover ~ .projectWrapper {
  transform: translate(75%, 3%) rotate(3deg);
  z-index: 100;
  transition: 400ms ease-out;
}

.project{
  border: var(--border-px) solid var(--heading-color);
  transition: transform 400ms ease-in-out;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 600px;
  overflow: hidden;
}

.project button{
  margin: 0;
}


.containerImage{
  overflow: hidden;
  order: 1;
}

.containerImage img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.projectBody{
  border-right: var(--border-px) solid var(--heading-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  padding: 2rem;
  background-color: #fdfaf7;
  background-image:
  radial-gradient(at 96% 0%, hsla(28,100%,74%,0.04) 0px, transparent 50%),
  radial-gradient(at 1% 65%, hsla(240,100%,70%,0.05) 0px, transparent 50%);
  position: relative;
}

.projectOverlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/paperBg.jpeg');
  background-position: 60% 60%;
  background-size: auto;
  opacity: 0.25;
  /* z-index: 10; */
  mix-blend-mode: multiply;
  pointer-events: none;
}

.projectButtons{
  margin-bottom: 1rem;
}

.tags{
  padding-block: 1rem;
  color: var(--light-gray);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.tags span{
  padding-inline: 0.5rem;
  background-color: #624da2;
  margin: 0.3rem;
  border-radius: 5px;
  color: var(--light-peach);
  letter-spacing: 2px;
}

.projectButtons{
  margin-bottom: 0;
}

.projectButtons button{
  transform: scale(0.8);
}

.title{
  font-size: 2rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 735px){
  .projectWrapper{
    width: 100%;
    position: relative;
    display: block;
  }

  .projectWrapper:first-child{
  transform: translate(0);
  }
  
  .projectWrapper:nth-child(2) {
    left: 0;
    transform: translateY(0);
  }

  .projectWrapper:nth-child(3) {
    left: 0;
    transform: translateY(0);
  }

  .projectWrapper:nth-child(4) {
    left: 0;
    transform: translateY(0);
  }

  .projectWrapper:hover ~ .projectWrapper {
    transform: translate(0) rotate(0);
  }

  .project{
    display: block;
    height: unset;
  }
  
  .containerImage{
    height: 300px;
  }

  .projectBody{
    border-top: var(--border-px) solid var(--heading-color);
    border-right: unset;
    padding: 1rem;
  }

}