.projectWrapper{
  max-width: 1500px;
  margin: 0 auto 150px;
  position: absolute;
}

.folderForm{
  position: absolute;
  top: -44px;
  left: 0;
  background-color: black;
  padding-block: 0.7rem;
  padding-left: 1rem;
  padding-right: 2rem;
  color: #f1e1d8;
  border-radius: 10% 25% 0% 0% / 28% 100% 10% 10%   ;
  border: var(--border-px) solid var(--heading-color);
  height: 73px;
  font-family: var(--font-heading);
  font-size: 1.1rem;
  transition: transform 100ms ease-in-out;
}

.folderForm:hover{
  transform: translateY(-10px);
  z-index: 5;
}

.folderForm.active{
  background-color: var(--pale-green);
  color: black;
  transform: translateY(-10px);
  z-index: 5;
}

.projectWrapper:nth-child(2) .folderForm.active {
  background-color: var(--pale-purple);
}

.projectWrapper:nth-child(3) .folderForm.active {
  background-color: var(--pale-lime);
}

.projectWrapper:nth-child(4) .folderForm.active {
  background-color: var(--pale-blue);
}

.project{
  border: var(--border-px) solid var(--heading-color);
  position: relative;
  transition: transform 400ms ease-in-out;
  position: relative;
  display: grid;
  grid-template-columns: 60% 40%;
  height: 600px;
  overflow: hidden;
  visibility: hidden;
}

.project button{
  margin: 0;
}

.project.active{
  visibility: visible;
  z-index: 100;
}

.containerImage{
  overflow: hidden;
}

.containerImage img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.projectBody{
  border-left: var(--border-px) solid var(--heading-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
  background-image: url("data:image/svg+xml;utf8,%3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 600%22 version=%221.1%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cstyle%3E .box_shadow { box-shadow: -5px -5px 20px -10px %23f6efea; } .shadow_right { -webkit-filter: drop-shadow(-5px -5px 15px %23f6efea); filter: drop-shadow(-5px -5px 15px %23f6efea); } .shadow_left{ -webkit-filter: drop-shadow(5px 5px 15px %23f6efea); filter: drop-shadow(5px 5px 15px %23f6efea); } %3C%2Fstyle%3E %3Cdefs%3E %3ClinearGradient id=%22gradient__0%22 x1=%220%22 y1=%220%22 x2=%220%22 y2=%221%22%3E %3Cstop stop-color=%22%23f6efea%22 offset=%220.0%25%22 %2F%3E %3Cstop stop-color=%22white%22 offset=%2250.0%25%22 %2F%3E %3Cstop stop-color=%22%23f6efea%22 offset=%22100.0%25%22 %2F%3E %3C%2FlinearGradient%3E %3Cfilter id=%22grain%22 x=%22-500%22 y=%22-300%22 width=%222000%22 height=%221200%22 filterUnits=%22userSpaceOnUse%22%3E%3E %3CfeFlood flood-color=%22%23ffffff%22 result=%22neutral-gray%22 %2F%3E %3CfeTurbulence in=%22neutral-gray%22 type=%22fractalNoise%22 baseFrequency=%222.5%22 numOctaves=%22100%22 stitchTiles=%22stitch%22 result=%22noise%22 %2F%3E %3CfeColorMatrix in=%22noise%22 type=%22saturate%22 values=%220%22 result=%22destaturatedNoise%22 %3E%3C%2FfeColorMatrix%3E %3CfeComponentTransfer in=%22desaturatedNoise%22 result=%22theNoise%22%3E %3CfeFuncA type=%22table%22 tableValues=%220 0 0.44 0%22%3E%3C%2FfeFuncA%3E %3C%2FfeComponentTransfer%3E %3CfeBlend in=%22SourceGraphic%22 in2=%22theNoise%22 mode=%22soft-light%22 result=%22noisy-image%22 %2F%3E %3C%2Ffilter%3E} %3C%2Fdefs%3E %3Cg filter=%22url(%23grain)%22%3E %3Crect width=%221000%22 height=%22600%22 fill=%22%23f6efea%22%2F%3E %3Crect class=%22%22 id=%22rect__4%22 x=%22444.44444444444446%22 y=%22133.33333333333334%22 width=%22111.11111111111111%22 height=%22333.3333333333333%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_left%22 id=%22rect__5%22 x=%22555.5555555555555%22 y=%22100%22 width=%22111.11111111111111%22 height=%22400%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_left%22 id=%22rect__6%22 x=%22666.6666666666666%22 y=%2266.66666666666666%22 width=%22111.11111111111111%22 height=%22466.6666666666667%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_left%22 id=%22rect__7%22 x=%22777.7777777777778%22 y=%2233.333333333333314%22 width=%22111.11111111111111%22 height=%22533.3333333333334%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_left%22 id=%22rect__8%22 x=%22888.8888888888889%22 y=%220%22 width=%22111.11111111111111%22 height=%22600%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_right%22 id=%22rect__3%22 x=%22333.3333333333333%22 y=%22100%22 width=%22111.11111111111111%22 height=%22400%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_right%22 id=%22rect__2%22 x=%22222.22222222222223%22 y=%2266.66666666666667%22 width=%22111.11111111111111%22 height=%22466.66666666666663%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_right%22 id=%22rect__1%22 x=%22111.11111111111111%22 y=%2233.333333333333336%22 width=%22111.11111111111111%22 height=%22533.3333333333334%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_right%22 id=%22rect__0%22 x=%220%22 y=%220%22 width=%22111.11111111111111%22 height=%22600%22 fill=%22url(%23gradient__0)%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
      
}

.projectButtons{
  margin-bottom: 1rem;
}

.tags{
  padding-block: 1rem;
  color: var(--light-gray);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.tags span{
  padding-inline: 0.5rem;
  background-color: #624da2;
  margin: 0.3rem;
  border-radius: 5px;
  color: var(--light-peach);
  letter-spacing: 2px;
}

.projectButtons{
  margin-bottom: 0;
}

.projectButtons button{
  transform: scale(0.8);
}

.title{
  font-size: 2rem;
  padding-bottom: 1rem;
}


.projectWrapper:first-child .project{
  visibility: visible;
  z-index: 100;
}

.projectWrapper:nth-child(2) .folderForm{
  left: 160px;

}

.projectWrapper:nth-child(3) .folderForm{
  left: 342px;

}

.projectWrapper:nth-child(4) .folderForm{
  left: 517px;

}


@media screen and (max-width: 935px){
  .project{
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 768px){
  .project{
    grid-template-columns: unset;
    grid-template-rows: 40% 60%;
    height: 800px;
  }

  .title{
    font-size: 1.3rem;
  }

  .tags{
    padding-block: 0;
  }
  .projectBody{
    border-left: unset;
    border-top: 1px solid var(--heading-color);
  }

  .folderForm.active{
    color: black;
    transform: translateY(-10px);
    z-index: 5;
  }

  .folderForm{
    top: -55px;
    width: 95px;
    font-size: 0.8rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-right: 1rem;
  }

  .projectWrapper:nth-child(2) .folderForm{
  left: 90px;
  }

  .projectWrapper:nth-child(3) .folderForm{
  left: 180px;
  }

  .projectWrapper:nth-child(4) .folderForm{
  left: 270px;
  }
}

@media screen and (max-width: 488px){
  .project{
    grid-template-rows: 30% 70%;
  }

  .folderForm{
    top: -55px;
    width: 75px;
    font-size: 0.7rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-right: 0.7rem;
    padding-left: 0.3rem;
  }
  .projectWrapper:nth-child(2) .folderForm{
  left: 72px;
  }
  .projectWrapper:nth-child(3) .folderForm{
  left: 142px;
  }
  .projectWrapper:nth-child(4) .folderForm{
  left: 212px;
  }
}